.Header>h1 {
    background-color: #c6f0d7;
    text-align: center;
}

.btnSelect {
    background: none;
    border: none;
    color: #558b62;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}

.btnSelect:hover {
    color: #1e7e34;
    text-decoration: none;
    font-weight: bold;
}

.hidden-datepicker {
    display: none;
}